<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="padding: 20px"> 
    <div class="container-fluid">
    <h1 class="navbar-left white-font">
        <%= link_to "Suffer Together", '/rooms' %>
    </h1>
    
        
    <div class="navbar-right"> 
        <h6 style="margin-right: 30px;color:white">
        Who is suffering?  &nbsp
        <%= link_to current_admin.full_name, '/enrollments', id: 'link_to_enrollment' %>
        </h6>
        <h6><%= link_to "Click here to give up. Hehehe", destroy_admin_session_path %> </h6> 
        <h6 style="color:white"><%= link_to "View Rooms", '/rooms' %> or <%= link_to "View Events", '/events' %></h6> 
    </div>
    </div>
</nav>


<div class="container event-container bg-light">
    <div class="container all-event-container" style="margin-top:30px;border-top-left-radius:5px;border-top-right-radius:5px;">
      <nav class="all-event-title-div bg-dark">
          <h1 style="padding-left:20px;">All Events</h1>
      </nav>
      <div class="row" style="padding-left:30px; padding-right:30px; padding-top: 10px;">
      <% @events.each do |event| %>
          <div class="col-4 col-4-event" style="padding-left:5px; padding-right:5px;">
              <div class="card-body card-body-event shadow-sm">
                  <div class="navbar">
                    <h5 class="card-title navbar-right"><%= link_to event.title, event %> </h5>
                    <%= render 'attendances/form', attendance: Attendance.new, event: event%>
                  </div>
                  
                <p class="card-text">
                  
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Course: <%= link_to Room.find(event.room_id).name, Room.find(event.room_id) %></li>
                    <li class="list-group-item">Date: <%= event.event_date %></li>
                    <li class="list-group-item">Time: <%= event.event_start.strftime('%H:%M') %>-<%= event.event_end.strftime('%H:%M')%></li>
                  </ul>
                </p>
                <%= link_to 'Show', event, class:"btn btn-primary" %>
                <%= link_to 'Edit', edit_event_path(event), class:"btn btn-primary" %>
                <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary" %>
              </div>
          </div>
          
      <% end %>
    </div>
    </div>
    
</div>



