<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="padding: 20px"> 
    <div class="container-fluid">
    <h1 class="navbar-left white-font">
        <%= link_to "Suffer Together", '/rooms' %>
    </h1>
    
        
    <div class="navbar-right"> 
        <h6 style="margin-right: 30px;color:white">
        Who is suffering?  &nbsp
        <%= link_to current_admin.full_name, '/enrollments', id: 'link_to_enrollment' %>
        </h6>
        <h6><%= link_to "Click here to give up. Hehehe", destroy_admin_session_path %> </h6> 
        <h6><%= link_to "View Rooms", '/rooms' %> </h6> 
    </div>
    </div>
</nav>

<div class="container">
    <div id="event-id" data-event-id="<%= @event.try(:id) %>"></div>
    <div id="admin-id" data-admin-id="<%= current_admin.id %>"></div>
    <div class="row">
        <div class="col">
            <% if @event.present? %>
                <div class="chat-room">
                <nav class="navbar navbar-light">
                    <div class="container-fluid">
                        <div>
                        <h2 class="navbar-left">Event: <%= @event.title %></h2>
                        <h6 class="navbar-left" style="color:gray">Course: <%= Room.find(@event.room_id).name %></h6>
                        </div>
                        
                        <div class="navbar-right">
                            <h6 style="color:gray">Date: <%= @event.event_date %></h6>
                            <h6 style="color:gray">Time: <%= @event.event_start.strftime('%H:%M') %>-<%= @event.event_end.strftime('%H:%M')%></h6>
                        </div>
                    </h2>
                    
                
                </nav>
                <div id="messages" >
                    <% @event.event_messages.each do |event_message| %>
                    <%= render 'event_messages/event_message', event_message: event_message  %>
                    <% end %>
                    
                </div>
                <div class="chat-box">
                    <%= render 'event_messages/form', event_message: EventMessage.new, event: @event %>
                </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
<div class="container">
<h2>Title: 
<%= @event.title %> 
</h2>
<h2>Room ID: 
<%= @event.room_id %> 
</h2>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
</div>