<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="padding: 20px"> 
    <div class="container-fluid">
    <h1 class="navbar-left white-font">
        <%= link_to "Suffer Together", '/rooms' %>
    </h1>
    
        
    <div class="navbar-right"> 
        <h6 style="margin-right: 30px;color:white">
        Who is suffering?  &nbsp
        <%=  link_to current_admin.full_name, '/enrollments', id: 'link_to_enrollment' %>
        </h6>
        <h6><%= link_to "Click here to give up. Hehehe", destroy_admin_session_path %> </h6> 
        <h6 style="color:white"><%= link_to "View Rooms", '/rooms' %> or <%= link_to "View Events", '/events' %></h6> 
    </div>
    </div>
</nav>

<div class="container container-room-page">

<div class="container-search">
  <%= form_with(url: '/rooms', method: 'get', local: true, class:"input-group rounded search-bar mb-3") do%>
    <div style="display:flex;" class="input-group rounded search-bar mb-3">
        <%= text_field_tag :search, nil, class:'form-control rounded'%>
        <%= submit_tag "Search", class:"btn btn-primary" %>
    </div>
  <% end %>
</div>
<div class="container-add-room">
  <%= render 'form', room: Room.new %>
</div>
<div class="container-room bg-light">
  <div id="room-id" data-room-id="<%= @room.try(:id) %>"></div>
  <div id="admin-id" data-admin-id="<%= current_admin.id %>"></div>

  <div class="row">
  <% @rooms.each do |room| %>
      <div class="col" style="margin: 10px; width: 300px">
        <div class="card no-outline mb-2 room-card">
          <div class="card-body" style="text-align: center">
            <div class='name'>
              <h4 style="margin: 0px">
                <%= link_to room, class: 'room-link room-card' do %>
                  <%= room.name %>

                  <% active_class = (@room == room) ? 'active' : '' %>
                <% end %>
              </h4>
            </div>
            
            <div style="padding: 10px; justify-content: center">
              <%= render 'enrollments/form', enrollment: Enrollment.new, room: room %>
              
              <button class="btn btn-outline-primary">
                <%= link_to 'Update Room Name', edit_room_path(room), :id=>["edit_room"+room.id.to_s]  %>
              </button>
            </div>
          </div>
        </div>
      </div>
    
  <% end %>
  </div>
</div>



