<div class="navbar navbar-dark bg-dark shadow-sm ">
    <h1 class="navbar-right white-font">Suffer Together
    
    </h1>
    <a href="#" class="navbar-link">
      <b><%= current_admin.full_name %><br></b>
    </a>
  </div>
</div>
<div class="container">

<div id="room-id" data-room-id="<%= @room.try(:id) %>"></div>
<div id="user-id" data-user-id="<%= @authorized_user_id %>"></div>
<div class="container-search">
  <div class="input-group rounded search-bar mb-3">
    
      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
      aria-describedby="search-addon" />
   
    <div class="input-group-append">
      <button class="btn btn-info" type="button">Search</button>
    </div>
  </div>
</div>
<div class="container-add-room">
  <%= render 'form', room: Room.new %>
</div>
<div class="container-room bg-light">
  <% @rooms.each do |room| %>
    <%= link_to room,  class: 'room-link room-card' do %>
      <% active_class = (@room == room) ? 'active' : '' %>
      <div class="card no-outline mb-2 room-card <%= active_class %>">
        <div class="card-body">
          <span class='name'><%= room.name %></span><br>
          <span class='member-count'>
            
          </span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


</div>
