<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="padding: 20px"> 
    <div class="container-fluid">
    <h1 class="navbar-left white-font">
        Suffer Together!
    </h1>
    
        
    <div class="navbar-right"> 
        <h6 style="margin-right: 30px;color:white">
        Who is suffering?  &nbsp
        <%= current_admin.full_name %>!
        </h6>
        <h6><%= link_to "Click here to give up. Hehehe", destroy_admin_session_path %> </h6> 
    </div>
    </div>
</nav>

<div class="container">

<div id="room-id" data-room-id="<%= @room.try(:id) %>"></div>
<div id="admin-id" data-admin-id="<%= current_admin.id %>"></div>
<div class="container-search">
  <div class="input-group rounded search-bar mb-3">
    
      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
      aria-describedby="search-addon" />
   
    <div class="input-group-append">
      <button class="btn btn-info" type="button">Search</button>
    </div>
  </div>
</div>
<div class="container-add-room">
  <%= render 'form', room: Room.new %>
</div>
<div class="container-room bg-light">
  <% @rooms.each do |room| %>
    <%= link_to room,  class: 'room-link room-card' do %>
      <% active_class = (@room == room) ? 'active' : '' %>
      <div class="card no-outline mb-2 room-card <%= active_class %>">
        <div class="card-body">
          <span class='name'><%= room.name %></span><br>
          <span class='member-count'>
            
          </span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


</div>
