<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="padding: 20px"> 
    <div class="container-fluid">
    <h1 class="navbar-left white-font">
        Suffer Together!
    </h1>
    
        
    <div class="navbar-right"> 
        <h6 style="margin-right: 30px;color:white">
        Who is suffering?  &nbsp
        <%= link_to current_admin.full_name, '/enrollments'%>
        </h6>
        <h6><%= link_to "Click here to give up. Hehehe", destroy_admin_session_path %> </h6> 
        <h6><%= link_to "View Rooms", '/rooms' %> </h6> 
    </div>
    </div>
</nav>
<div class="container">
  <div id="room-id" data-room-id="<%= @room.try(:id) %>"></div>
  <div id="user-id" data-admin-id="<%= current_admin.id %>"></div>
  <div class="row">
    
    <div class="col-3 bg-light">
      <div>
        <h3 class="p-2 mt-3">
          Courses
        </h3>
        <hr>
        <div class="course-col">
          
          <% @rooms.each do |room| %>
            <%= link_to room, class: 'room-link-sidebar' do %>
              <% active_class = (@room == room) ? 'active' : '' %>
              <div class="card no-outline mb-2 room-card <%= active_class %>">
                <div class="card-body">
                  <span class='name'><%= room.name %></span><br>
                  <span class='member-count'>
                    
                  </span>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div>
        <h3 class="p-2 mt-3">
            Events
        </h3>
        <hr>
        <div class="course-col">
          
        </div>
      </div>
    </div>
    
    <div class="col-9">
      <% if @room.present? %>
        <div class="chat-room">
          <nav class="navbar navbar-light">
            <span class="navbar-brand" href="#">
              <b><%= @room.name %></b>
            </span>
           
          </nav>
          <div id="messages" >
            <% @room.messages.each do |message| %>
              <%= render 'messages/message', message: message %>
            <% end %>
            
          </div>
          <div class="chat-box">
            <%= render 'messages/form', message: Message.new, room: @room %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
