<%= form_with(model: attendance, local: true) do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
        <% attendance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= form.hidden_field :admin_id, value: current_admin.id %>
  <%= form.hidden_field :event_id, value: event.id %>
  <div class="actions" style="text-align: center; margin: 10px">
    <%= form.submit "Attend", class: "btn btn-outline-primary", :id=>["create_attendance"+event.id.to_s]%>
  </div>
<% end %>
